/*
    GENERAL
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');

:root {
    --SEPARATOR-GRAY: #d6d6d6;
    --DARK-GRAY: #575757;
    --OFF-WHITE: #fafafa;

    --BASE-RED: #EE0056;
    --LIGHT-RED: #f34d89;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--OFF-WHITE);
    color: var(--DARK-GRAY);
}

h1,
h3,
h4 {
    font-weight: bold;
}

h3,
h4 {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/*
    NAVBAR
*/

.navbar,
.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    font-family: 'Bebas Neue', sans-serif;
}

.navbar-brand {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand img {
    max-width: 40px;
    height: auto;
    margin-right: 1rem;
}

.sm-icons {
    flex-direction: row;
    gap: 20px;
    font-size: 1rem;
}

.sm-icons i {
    max-height: fit-content;
}

.sm-icons a {
    padding: 0 !important;
}

.nav-link {
    text-align: center;
    color: var(--DARK-GRAY);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--BASE-RED);
}

.nav-link.active {
    color: var(--BASE-RED) !important;
}

/*
    SECTIONS
*/
section {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 40px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    padding: 4rem 3rem !important;
}

/*
    INTRO SECTION
*/

#intro h1 {
    font-size: 2rem;
}

.intro-desc {
    font-size: 1.2rem;
}

.profile-pic {
    border-radius: 50%;
    max-width: 250px;
}

#skills-list,
.card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
}

#skills-list {
    gap: 1.5rem;
}

#skills-list li {
    display: flex;
    align-items: center;
}

#skills-list i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

#skills-list span {
    font-size: 1.2rem;
}

.section-heading {
    text-align: center;
}

.heading-icon {
    font-size: 2rem;
    color: #b8b8b8;
    margin-bottom: .8rem;
}

/* .section-heading::before,
.section-heading::after {
    color: var(--BASE-RED);
}

.section-heading::before {
    content: '// ';
    margin-right: .5rem;
}

.section-heading::after {
    content: ' //';
    margin-left: .5rem;
} */

/* cards */
.card {
    border: none;
    background-color: transparent;
}

#webprojects .card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding: 2rem 0 2rem 0;
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

#landing-page-cards .card-title {
    font-size: 2.5rem;
    color: var(--BASE-RED);
}

#landing-page-cards .card-img-top {
    max-width: 300px;
    border-radius: 50%;
    transition: all 200ms;
}

#landing-page-cards .card-img-top:hover,
#landing-page-cards .card-img-top:focus {   
    transform: scale(1.05);
}

.card-title a {
    color: var(--BASE-RED);
    transition: color 180ms;
}

.card-title a:hover,
.card-title a:focus {
    color: var(--LIGHT-RED);
}

.card-link i {
    font-size: 1rem;
}

.card-list {
    gap: 1rem;
    font-size: 1.1rem;
}

.card-list i {
    margin-right: .5rem;
}

.card-buttons {
    display: flex;
    gap: .5rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    border: 1px solid var(--BASE-RED) !important;
}

.btn-primary {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 30px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--BASE-RED);
    color: var(--BASE-RED);
    transition: transform 100ms;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--BASE-RED) !important;
    color: white;
}

.btn-primary:active {
    transform: scale(.95);
}

.btn-primary i,
.btn-primary span {
    font-size: 1rem;
    margin: 0;
}

.about-text {
    font-size: 1.2rem;
}

.about-links {
    gap: 2rem;
}

.about-links a {
    color: white;
    font-size: 1.2rem;
}

.about-links a:hover,
.about-links a:focus {
    color: var(--BASE-RED);
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item .card {
    border: 1px solid rgba(0, 0, 0, 0.11);
    transition: all 200ms;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item .card-body {
    text-align: center;
}

.portfolio-item .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    color: var(--BASE-RED);
}

.portfolio-item .card-text {
    font-size: 1rem;
}

.portfolio-item .btn-primary {
    width: fit-content;
    margin: auto;
}

.portfolio-item a:hover,
.portfolio-item a:focus {
    .card {
        transform: scale(1.04);
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    }
}

/*
    FOOTER
*/
.footer-dark,
.footer-dark .fa-brands {
    color: var(--DARK-GRAY);
}

.footer-logo {
    max-height: 30px;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 991px) {
    .sm-icons {
        margin-top: 2rem;
    }
}