body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: #1f1f1f;
}

aside {
    background-color: #f7f7f7;
    height: 100vh;
    position: sticky;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid orange; */
    padding: 3rem 1rem;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

hr {
    border: 2px solid #d6d6d6;
    width: 77%;
    border-radius: 2px;
    margin: 3rem auto;
}

svg {
    width: 40%;
}

aside .row {
    /* border: 2px solid red; */
}

#logo-container {
    margin: 1rem auto;
}

#logo {
    height: fit-content;
    width: 100px;
}

#sidebar-heading {
    text-align: center;
    color: #ff5555;
    width: 100%;
    margin: 1rem 0;
}

.nav-links {
    list-style: none;
    /* border: 2px inset green; */
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.nav-links a {
    color: #ff5555;
    background-color: white;
    /* border: 2px solid hotpink; */
    padding: .5rem;
    margin: .5rem 0;
    text-align: center;
    border-radius: 20px;
    transition: .2s;
}

.nav-links a:hover {
    background-color: #ff5555;
    color: white;
}

#social-links {
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-links a {
    padding: 0;
    width: fit-content;
    margin: 0 .5rem;
    font-size: 1.2rem;
    color: black;
}

#social-links a:hover {
    color: #ff5555;
}

/* Main Content */
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;

}

main section {
    width: 77%;
}

section h3 {
    margin-bottom: 2rem;
}

section a {
    color: #ff5555;
}

section a i {
    font-size: .8rem;
    margin-left: .2rem;
}

/* Intro */
#introduction {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#profile-photo-wrapper {
    padding: 0;
    width: 43%;
}

#profile-photo-wrapper img {
    width: 100%;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 11.64px 0.36px rgba(0, 0, 0, 0.15);
}

#intro-text {
    padding-left: 2rem;
    padding-right: 0;
    width: 57%;
}

#intro-text h2 {
    font-weight: bold;
}

/* Skills */
#skills div {
    width: 100%;
    padding: 0;
}

#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
}

#skills li {
    margin-right: 1rem;
}