/*
    GENERAL
*/
:root {
    /* background */
    --BACKGROUND-GRAY: #121212;
    --BACKGROUND-ALT: #212529;
    /* general content */
    --LIGHT-GRAY: #ccced1;
    /* header, footer */
    --BS-LIGHT-GRAY: #9fa2a4;
    /* accent */
    --PRIMARY-RED: #F14156;
    --HOVER-RED: #F78D99;
    --LIGHT-BLUE: #48cae4;
    --BLUE-HOVER: #ADE8F4;
}

body {
    background-color: var(--BACKGROUND-ALT);
    font-family: 'Barlow', sans-serif;
    color: var(--LIGHT-GRAY);
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--LIGHT-BLUE);
}

a:hover {
    color: var(--BLUE-HOVER);
}

h1,
h3 {
    font-weight: bold;
}

h3,
h4 {
    margin-bottom: 2rem;
}

hr {
    border: 1px solid #d6d6d6;
    width: 50%;
    border-radius: 2px;
    padding: 0 15px;
    margin: auto;
}

/*
    NAVBAR
*/
.sm-icons {
    flex-direction: row;
}

.sm-icons .nav-link {
    padding-right: 1em;
}

.navbar-brand img {
    margin-right: .5rem;
}

.nav-link:hover,
.footer-dark .fa-brands:hover {
    color: var(--LIGHT-BLUE);
    transition: 200ms;
}

/*
    SECTIONS
*/

section {
    box-sizing: border-box;
    min-height: calc(100svh - 50px);
    padding-top: 90px;
    padding-bottom: 90px;
}

section a i {
    font-size: .8rem;
    margin-left: .2rem;
}

.text-bg-dark {
    background-color: rgba(255, 255, 255, .04) !important;
}

/*
    INTRO SECTION
*/

#intro-text {
    text-align: center;
    margin: 2rem auto;
}

#intro h1 {
    font-size: 2.4rem;
}

.intro-desc {
    font-size: 1.5rem;
}

#landing-logo {
    max-width: 120px;
}

.profile-pic {
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
    max-width: 250px;
}

#skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
    gap: 1rem;
}

#skills-list li {
    display: flex;
    align-items: center;
}

#skills-list i {
    margin-right: 1rem;
}

/* icon */
#skills-list i {
    font-size: 2rem;
}

/* text */
#skills-list span {
    font-size: 1.2rem;
}

.section-heading {
    text-align: center;
}

.section-heading::before,
.section-heading::after {
    color: var(--LIGHT-BLUE);
    font-weight: 400;
}

.section-heading::before {
    content: '< ';
    margin-right: .5rem;
}

.section-heading::after {
    content: ' >';
    margin-left: .5rem;
}

.footer-dark,
.footer-dark .fa-brands {
    color: var(--BS-LIGHT-GRAY);
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-link i {
    font-size: 1rem;
}

/* On scroll animations */
.hidden {
    opacity: 0;
    transform: translateX(-7%);
    filter: blur(2px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

/* Delays animation on each list item */
.section-item:nth-child(2) {
    transition-delay: 200ms;
}

.section-item:nth-child(3) {
    transition-delay: 300ms;
}

#skills-list li:nth-child(1) {
    transition-delay: 400ms;
}

#skills-list li:nth-child(2) {
    transition-delay: 500ms;
}

#skills-list li:nth-child(3) {
    transition-delay: 600ms;
}

#skills-list li:nth-child(4) {
    transition-delay: 700ms;
}

#skills-list li:nth-child(5) {
    transition-delay: 800ms;
}

#skills-list li:nth-child(6) {
    transition-delay: 900ms;
}

#skills-list li:nth-child(7) {
    transition-delay: 1s;
}

.card-wrapper:nth-child(1) {
    transition-delay: 100ms;
}

.card-wrapper:nth-child(2) {
    transition-delay: 150ms;
}

.card-wrapper:nth-child(3) {
    transition-delay: 200ms;
}

.card-wrapper:nth-child(4) {
    transition-delay: 250ms;
}

.card-wrapper:nth-child(5) {
    transition-delay: 300ms;
}

.card-wrapper:nth-child(6) {
    transition-delay: 350ms;
}


/*
    MEDIA QUERIES
*/
@media (max-width: 1199px) {
    #intro-text {
        text-align: center;
        align-items: center;
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 991px) {
    .navbar-brand {
        margin: auto;
        transform: translateX(28px);
    }

    .navbar-brand img {
        margin: auto;
    }

    .navbar-brand span {
        display: none;
    }

    .sm-icons {
        width: fit-content;
        margin: auto;
    }

    nav {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}