/*
    GENERAL
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');

:root {
    --BODY-DARK: #5e5977;
    --SEPARATOR-GRAY: #d6d6d6;
    --DARK-GRAY: #575757;

    --SALMON-PRIMARY: #FF7075;
    --SALMON-DARK: #FF5A5F;
    --SALMON-LIGHT: #FF999C;

    --BASE-RED: #EE0056;
    --LIGHT-RED: #f34d89;

    --red-gradient: linear-gradient(0deg,
            #EE0056,
            #2D0419);

    --dark-gradient: linear-gradient(0deg,
            #360620,
            #0B0207);

    --mixed-gradient: linear-gradient(135deg,
            #2D0419 0,
            #EE0056 15%,
            #360620 15%,
            #0B0207 80%,
            #EE0056 80%,
            #2D0419 100%);
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #fafafa;
    color: var(--DARK-GRAY);
}

h1,
h3,
h4 {
    font-weight: bold;
}

h3,
h4 {
    margin-bottom: 2rem;
}

hr {
    border: 1px solid var(--BODY-DARK);
    width: 50%;
    border-radius: 2px;
    padding: 0 15px;
    margin: auto;
}

a {
    text-decoration: none;
}

/*
    NAVBAR
*/

.navbar,
.offcanvas {
    background-color: #fafafa;
}

.navbar,
.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    font-family: 'Bebas Neue', sans-serif;
}

.navbar-brand {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand img {
    max-width: 40px;
    height: fit-content;
    margin-right: 1rem;
}

.sm-icons {
    flex-direction: row;
    gap: 20px;
    font-size: 1rem;
}

.sm-icons i {
    max-height: fit-content;
}

.sm-icons a {
    padding: 0 !important;
}

.nav-link {
    text-align: center;
    color: var(--DARK-GRAY);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--BASE-RED);
}

.nav-link.active {
    color: var(--BASE-RED) !important;
}

/*
    SECTIONS
*/
section {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 40px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

/*
    INTRO SECTION
*/

#intro h1 {
    font-size: 2rem;
}

.intro-desc {
    font-size: 1.2rem;
}

.profile-pic {
    border-radius: 50%;
    max-width: 250px;
}

#skills-list,
.card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
}

#skills-list {
    gap: 1.5rem;
}

#skills-list li {
    display: flex;
    align-items: center;
}

#skills-list i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

#skills-list span {
    font-size: 1.2rem;
}

.section-heading {
    text-align: center;
}

.heading-icon {
    font-size: 2rem;
    color: #b8b8b8;
}

/* .section-heading::before,
.section-heading::after {
    color: var(--BASE-RED);
}

.section-heading::before {
    content: '// ';
    margin-right: .5rem;
}

.section-heading::after {
    content: ' //';
    margin-left: .5rem;
} */

/* cards */
.card {
    border: none;
    background-color: transparent;
}

#webprojects .card-body {
    border-top: 2px solid rgba(94, 89, 119, .3);
    border-bottom: 2px solid rgba(94, 89, 119, .3);
    border-radius: 2px;
    padding: 2rem 0 2rem 0;
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

#landing-page-cards .card-title {
    font-size: 2.5rem;
    color: var(--BASE-RED);
}

#landing-page-cards .card-img-top {
    max-width: 300px;
    border-radius: 50%;
    transition: all 200ms;
}

#landing-page-cards .card-img-top:hover,
#landing-page-cards .card-img-top:focus {   
    transform: scale(104%);
}

.card-title a {
    color: var(--BASE-RED);
    transition: color 180ms;
}

.card-title a:hover,
.card-title a:focus {
    color: var(--LIGHT-RED);
}

.card-link i {
    font-size: 1rem;
}

.card-list {
    gap: 1rem;
    font-size: 1.1rem;
}

.card-list i {
    margin-right: .5rem;
}

.card-buttons {
    display: flex;
    gap: .5rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    border: 1px solid var(--BASE-RED) !important;
}

.btn-primary {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 30px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--BASE-RED);
    color: var(--BASE-RED);
    transition: transform 100ms;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--BASE-RED) !important;
    color: white;
}

.btn-primary:active {
    transform: scale(95%);
}

.btn-primary i,
.btn-primary span {
    font-size: 1rem;
    margin: 0;
}

.about-text {
    font-size: 1.2rem;
}

.about-links {
    gap: 2rem;
}

.about-links a {
    color: white;
    font-size: 1.2rem;
}

.about-links a:hover,
.about-links a:focus {
    color: var(--BASE-RED);
}

/*
    FOOTER
*/
.footer-dark,
.footer-dark .fa-brands {
    color: var(--BODY-DARK);
}

.footer-logo {
    max-height: 30px;
}

/* On scroll animations */
/* .hidden {
    opacity: 0;
    transform: translateX(-7%);
    filter: blur(2px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
} */

/* Delays animation on each list item */
/* .section-item:nth-child(2) {
    transition-delay: 200ms;
}

.section-item:nth-child(3) {
    transition-delay: 300ms;
}

#skills-list li:nth-child(1) {
    transition-delay: 400ms;
}

#skills-list li:nth-child(2) {
    transition-delay: 500ms;
}

#skills-list li:nth-child(3) {
    transition-delay: 600ms;
}

#skills-list li:nth-child(4) {
    transition-delay: 700ms;
}

#skills-list li:nth-child(5) {
    transition-delay: 800ms;
}

#skills-list li:nth-child(6) {
    transition-delay: 900ms;
}

#skills-list li:nth-child(7) {
    transition-delay: 1s;
}

.card-wrapper:nth-child(1) {
    transition-delay: 100ms;
}

.card-wrapper:nth-child(2) {
    transition-delay: 150ms;
}

.card-wrapper:nth-child(3) {
    transition-delay: 200ms;
}

.card-wrapper:nth-child(4) {
    transition-delay: 250ms;
}

.card-wrapper:nth-child(5) {
    transition-delay: 300ms;
}

.card-wrapper:nth-child(6) {
    transition-delay: 350ms;
} */

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 991px) {
    .sm-icons {
        margin-top: 2rem;
    }
}