/*
    GENERAL
*/
:root {
    /* background */
    --BACKGROUND-GRAY: #121212;
    --BACKGROUND-ALT: #212529;
    /* general content */
    --LIGHT-GRAY: #ccced1;
    /* header, footer */
    --BS-LIGHT-GRAY: #9fa2a4;
    /* accent */
    --PRIMARY-RED: #F14156;
}

body {
    background-color: var(--BACKGROUND-ALT);
    font-family: 'Barlow', sans-serif;
    color: var(--LIGHT-GRAY);
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: white;
}

h1,
h3 {
    font-weight: bold;
}

h3,
h4 {
    margin-bottom: 2rem;
    padding: 0 !important;
}

hr {
    border: 1px solid #d6d6d6;
    width: 50%;
    border-radius: 2px;
    padding: 0 15px;
    margin: auto;
}

/*
    NAVBAR
*/
.sm-icons {
    flex-direction: row;
}

.sm-icons .nav-link {
    padding-right: 1em;
}

.navbar-brand img {
    margin-right: .5rem;
}

#sociallinks a:hover {
    color: var(--PRIMARY-RED);
}

/*
    SECTIONS
*/
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4rem !important;
    /* border: 1px solid hotpink; */
}

section {
    display: flex;
    width: 100%;
    padding: 4rem 0 !important;
}

/* headings */
section h3 i,
section h5 i,
section a {
    color: var(--PRIMARY-RED);
}

section a i {
    font-size: .8rem;
    margin-left: .2rem;
}

.text-bg-dark {
    background-color: rgba(255, 255, 255, .04) !important;
}

/*
    INTRO SECTION
*/

#profile-photo-wrapper {
    padding: 20px;
    /* border: 2px solid red; */
}

#profile-photo-wrapper img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 2px 11.64px 0.36px rgba(0, 0, 0, 0.25);
}

#skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
}

#skills-list li {
    margin-right: 1rem;
}

#constructionbanner {
    text-align: center;
    background-color: lightgray;
    color: gray;
    padding-top: 1rem;
}

.section-heading {
    text-align: center;
}

.footer-dark,
.footer-dark .fa-brands {
    color: var(--BS-LIGHT-GRAY);
}

/*
    MEDIA QUERIES
*/
@media (max-width: 1199px) {
    #intro-text {
        text-align: center;
        align-items: center;
    }
}