/*
    General
*/

body {
    background-color: white;
    font-family: 'Barlow', sans-serif;
    color: rgb(75, 75, 75);
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

h1, h3 {
    font-weight: bold;
}

h3, h4 {
    margin-bottom: 2rem;
    padding: 0 !important;
}

section {
    width: 100%;
    display: flex;
    padding: 7rem 0 !important;
}

hr {
    border: 1px solid #d6d6d6;
    width: 100%;
    border-radius: 2px;
    margin: 0 !important;
}

/*
    Navigation
*/

.navbar-brand img {
    margin-right: .5rem;
}

.primary-nav-links {
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.form-inline {
    width: fit-content;
    justify-content: center;
    text-align: center;
}

.form-inline .nav-link {
    color:rgb(75, 75, 75);
}

.form-inline .nav-link:hover {
    color: #ff5555;
}

/*
    Main, sections
*/

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}

section h3 i {
    color: #ff5555;
}

section a {
    color: #ff5555;
}

section a i {
    font-size: .8rem;
    margin-left: .2rem;
}

/*
    Intro section
*/

#introduction {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

#profile-photo-wrapper {
    padding: 0;
    /* border: 2px solid red; */
}

#profile-photo-wrapper img {
    width: 100%;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 11.64px 0.36px rgba(0, 0, 0, 0.15);
}

#intro-text {
    padding-right: 0;
    padding-left: 2rem;
    width: fit-content;
    /* border: 2px solid blue; */
}

#intro-text h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

/*
    Skills
*/

#skills {
    width: 100%;
}

#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}

#skills li {
    margin-right: 1rem;
    font-size: 1.2rem;
}

#skills li i {
    margin-right: .25rem;
}

/* 
    Portfolio grid
*/

.portfolio-item {
    padding: 0 !important;
    height: 400px;
    box-sizing: border-box;
    border: 2px solid #f7f7f7;
    background-size: cover;
    background-position: top center;
    background-color: #f7f7f7;
    box-sizing: initial;
}

.portfolio-caption a {
    text-decoration: none;
}

.grid-item-1 {
    padding-left: 0 !important;
}

.grid-item-3 {
    padding-right: 0 !important;
}

#last-portfolio-item {
    margin-bottom: 0 !important;
}

/*
    Portfolio images
*/

#stewart-construction {
    background-image: url(images/stewart-construction.png);
}

#wordpress-custom {
    background-image: url(images/stewart_will_assignment5.jpg);
}

#rectangle-calculator {
    background-image: url(images/rectangle-calculator.png);
}

#olympic-judging-calculator {
    background-image: url(images/olympic-judging-calculator.png);
}

#point-of-sale-system {
    background-image: url(images/point-of-sale-system.png);
}

#personal-homepage {
    background-image: url(images/personal-homepage.png);
}

.portfolio-caption {
    margin-bottom: 4rem;
    padding: 0;
}

.portfolio-caption h3 {
    margin: 1rem auto;
}

.portfolio-caption p {
    margin-bottom: 0;
}

.portfolio-caption a {
    background-color: #f7f7f7;
    outline: none;
    border: 0;
    padding: .5rem 1rem;
    border-radius: 30px;
    transition: background-color .2s;
    display: inline-block;
    margin-right: .5rem;
}

.portfolio-caption a:hover {
    background-color: #ff5555;
    color: white;
}

#about p {
    padding: 0;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #f7f7f7;
    color: #ff5555;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #ff5555;
    color: white;
}

form {
    padding: 0 !important;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    color: rgb(124, 124, 124);
    padding-bottom: 3rem;
    margin: 0;
}

/*
    Media queries
*/

@media (max-width: 1072px) {
    #introduction {
        flex-direction: column;
    }

    #intro-text {
        padding-left: 0;
        padding-top: 2rem;
        text-align: center;
    }
    
}

@media (max-width: 991px) {
    #profile-photo-wrapper {
        max-width: 40%;
    }
}

@media (max-width: 1399px) {
    .grid-item-2 {
        padding-right: 0 !important;
    }

    .grid-item-3 {
        padding-left: 0;
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
    }
}

@media (max-width: 1199px) {
    .grid-item {
        padding: 0 !important;
    }
}

@media (max-width: 991px) {
    .form-inline {
        width: 100%;
    }
}