/*
    GENERAL
*/
:root {
    /* background */
    --BACKGROUND-GRAY: #121212;
    --BACKGROUND-ALT: #212529;
    /* general content */
    --LIGHT-GRAY: #ccced1;
    /* header, footer */
    --BS-LIGHT-GRAY: #9fa2a4;
    /* accent */
    --PRIMARY-RED: #F14156;
    --HOVER-RED: #F78D99;
    --LIGHT-BLUE: #48cae4;
    --BLUE-HOVER: #ADE8F4;
}

body {
    background-color: var(--BACKGROUND-ALT);
    font-family: 'Barlow', sans-serif;
    color: var(--LIGHT-GRAY);
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--LIGHT-BLUE);
}

a:hover {
    color: var(--BLUE-HOVER);
}

h1,
h3 {
    font-weight: bold;
}

h3,
h4 {
    margin-bottom: 2rem;
}

hr {
    border: 1px solid #d6d6d6;
    width: 50%;
    border-radius: 2px;
    padding: 0 15px;
    margin: auto;
}

/*
    NAVBAR
*/
.sm-icons {
    flex-direction: row;
}

.sm-icons .nav-link {
    padding-right: 1em;
}

.navbar-brand img {
    margin-right: .5rem;
}

.nav-link:hover,
.footer-dark .fa-brands:hover {
    color: var(--LIGHT-BLUE);
    transition: 200ms;
}

/*
    SECTIONS
*/

section {
    display: flex;
    width: 100%;
    padding: 90px 0 !important;
}

section a i {
    font-size: .8rem;
    margin-left: .2rem;
}

.text-bg-dark {
    background-color: rgba(255, 255, 255, .04) !important;
}

/*
    INTRO SECTION
*/

#intro-text {
    text-align: center;
    margin: 2rem auto;
}

#intro h1 {
    font-size: 2.4rem;
}

.intro-desc {
    font-size: 1.5rem;
}

.profile-pic {
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2);
    max-width: 300px;
}

#skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
}

#skills-list li {
    display: flex;
    align-items: center;
}

#skills-list i,
#skills-list span {
    margin: 0 .5rem;
}

/* icon */
#skills-list i {
    font-size: 2rem;
}

/* text */
#skills-list span {
    font-size: 1.2rem;
}

.section-heading {
    text-align: center;
}

.section-heading::before,
.section-heading::after {
    color: var(--LIGHT-BLUE);
    font-weight: 400;
}

.section-heading::before {
    content: '< ';
    margin-right: .5rem;
}

.section-heading::after {
    content: ' >';
    margin-left: .5rem;
}

.footer-dark,
.footer-dark .fa-brands {
    color: var(--BS-LIGHT-GRAY);
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-link i {
    font-size: 1rem;
}


/*
    MEDIA QUERIES
*/
@media (max-width: 1199px) {
    #intro-text {
        text-align: center;
        align-items: center;
    }
}