/*
    General
*/

body {
    background-color: white;
    font-family: 'Barlow', sans-serif;
    color: rgb(75, 75, 75);
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

h1, h3 {
    font-weight: bold;
}

h3, h4 {
    margin-bottom: 2rem;
    padding: 0 !important;
}

section {
    display: flex;
    width: 100%;
    padding: 7rem 0 !important;
}

hr {
    border: 1px solid #d6d6d6;
    width: 50%;
    border-radius: 2px;
    padding: 0 15px;
    margin: 0 !important;
}

/*
    Navigation
*/

.navbar-brand img {
    margin-right: .5rem;
}

.primary-nav-links {
    justify-content: center;
    text-align: center;
    width: fit-content;
}

#sociallinks {
    display: flex;
}

#sociallinks a:hover {
    color: #ff5555;
}

.fa-linkedin {
    margin-left: .5rem;
}

/*
    Main, sections
*/

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid hotpink; */
}

section h3 i {
    color: #ff5555;
}

section a {
    color: #ff5555;
}

section a i {
    font-size: .8rem;
    margin-left: .2rem;
}

/*
    Intro section
*/

#introduction {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

#introduction .row {
    justify-content: center;
}

#profile-photo-wrapper {
    padding: 20px;
    /* border: 2px solid red; */
}

#profile-photo-wrapper img {
    width: 100%;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 11.64px 0.36px rgba(0, 0, 0, 0.15);
}

#intro-text {
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid blue; */
}

#intro-text h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

#intro-text h2, #intro-text p {
    width: fit-content;
}

#intro-text a {
    padding-top: 1rem;
}

/*
    Skills
*/

#skills {
    width: 100%;
}

#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0;
}

#skills li {
    margin-right: 1rem;
    font-size: 1.2rem;
}

#skills li i {
    margin-right: .25rem;
}

.card a {
    overflow: hidden;
}

.card-img-top {
    transition: transform 150ms;
}

.card-img-top:hover {
    transform: scale(1.2);
    transition: transform 150ms;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    color: rgb(124, 124, 124);
    padding-bottom: 3rem;
    margin: 0;
}

/*
    Media queries
*/

@media (max-width: 1399px) {
    .grid-item-2 {
        padding-right: 0 !important;
    }

    .grid-item-3 {
        padding-left: 0;
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
    }
}

@media (max-width: 1199px) {
    #intro-text {
        text-align: center;
        align-items: center;
    }
    
    .grid-item {
        padding: 0 !important;
    }
}

@media (max-width: 991px) {
    .form-inline {
        width: 100%;
    }
}